/* .container-fluid{
    margin: 30px;
    background-color: rgb(238, 204, 153);
    max-height: 500px;
} */

/* .card{
    width: 500px;
} */

html{
    scroll-behavior: smooth;
}
  
body{
    background-color: #4a538a;
}
